<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @artist.FirstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @artist.LastName %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
